@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-gray-800;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

#root {
  height: 100%;
  display: flex;
}

/* remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
