@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-gray-800;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

#root {
  height: 100%;
  display: flex;
}

/* remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

table {
  & th {
    &:first-child {
      @apply rounded-tl;
    }

    &:last-child {
      @apply rounded-tr;
    }
  }

  & tr:last-child td:first-child {
    @apply rounded-bl;
  }

  & tr:last-child td:last-child {
    @apply rounded-br;
  }
}

.tippy-box:focus {
  @apply outline-none;
}

.tippy-box[data-theme~='bare'], .tippy-box[data-theme~='services'] {
  background-color: unset;
  font-size: unset;

  & .tippy-content {
    padding: 0;
  }
}

.tippy-box[data-theme~='services'] {
  width: calc(100vw - 32px);

  @apply sm:w-auto
}
