@import "tailwindcss";

@theme {
  --min-width-10: 2.5rem;
  --min-width-20: 5rem;
  --min-width-40: 10rem;
  --min-width-60: 15rem;
  --min-width-80: 20rem;
}

:root {
  --xy-node-border: none;
  --xy-attribution-background-color: none;
  --xy-edge-stroke: theme(--color-gray-500);
  --xy-edge-stroke-width: 2;
}

html {
  @apply bg-gray-800;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

#root {
  height: 100%;
  display: flex;
}

/* remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

table {
  & th {
    &:first-child {
      @apply rounded-tl;
    }

    &:last-child {
      @apply rounded-tr;
    }
  }

  & tr:last-child td:first-child {
    @apply rounded-bl;
  }

  & tr:last-child td:last-child {
    @apply rounded-br;
  }
}

.tippy-box:focus {
  @apply outline-none;
}

.tippy-box[data-theme~='bare'], .tippy-box[data-theme~='services'] {
  background-color: unset;
  font-size: unset;

  & .tippy-content {
    @apply p-0;
  }
}

.tippy-box[data-theme~='services'] {
  width: calc(100vw - 32px);

  @apply sm:w-auto
}

.tippy-box:not([data-theme]) {
  @apply bg-gray-900;

  & > .tippy-arrow {
    @apply text-gray-900;
  }
}

.rdp {
  @apply bg-white;
  @apply text-black;
  @apply p-2;
  @apply m-0!;
  @apply rounded;
  @apply border;
  @apply border-gray-300;
  @apply shadow-lg;
}

.rdp-day, .rdp-button {
  @apply transition-colors;
}

.rdp-day:hover, .rdp-button:hover {
  @apply bg-indigo-100!;
}

.rdp-day_selected {
  @apply bg-indigo-500!;
}

.rdp-day_selected:hover {
  @apply bg-indigo-600!;
}

.rdp-caption_label {
  @apply text-lg!;
  @apply font-semibold!;
}

@keyframes spinners-react-circular-fixed {
  0% { stroke-dashoffset: 325; }
  100% { stroke-dashoffset: 151; }
}
